@use "../modules" as *;

.footer {
    a {
        margin-right: px(20);
    }
    text-decoration: none;
    display: flex;
    justify-content: center;
    img {
        margin-top: px(10);
        width: px(82);
    }
    &__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: min(100% - px(20), px(1800));
    }
    &__logo {
        display: flex;
        gap: px(20);
        align-items: center;
    }
}
