@use "../modules" as *;

@mixin boxes($x-axis, $y-axis, $opacity) {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: $colour1;
    left: $x-axis;
    top: $y-axis;
    opacity: $opacity;
    @include transitionEase;
}

.hero-bg {
    background-color: $colour-whitegray;
}
.hero {
    @include grid(normal, start);
    @include breakpoint(tablet) {
        grid-template-columns: repeat(2, 1fr);
    }
    h1 {
        margin-bottom: px(25);
    }
    img {
        @include imagefit(px(545));
        margin: px(40) 0;
    }
    .test-mother {
        position: relative;
    }

    p {
        margin: px(25);
        position: relative;
        font-weight: weight(bold);
        font-size: px(14);
        @include breakpoint(tablet) {
            margin-top: px(120);
        }
    }

    p::before {
        @include sudo-dash();
    }
    span {
        color: $colour1;
    }
}

.test {
    :nth-child(1) {
        @include boxes(px(360), px(100), 0.7);
    }
    :nth-child(2) {
        @include boxes(px(160), px(50), 0.6);
    }
    :nth-child(3) {
        @include boxes(px(60), px(300), 0.5);
    }
    :nth-child(4) {
        @include boxes(px(80), px(400), 0.7);
    }
    :nth-child(5) {
        @include boxes(px(180), px(500), 0.6);
    }
    :nth-child(6) {
        @include boxes(px(400), px(240), 0.7);
    }
}
.test:hover {
    :nth-child(1) {
        @include boxes(px(370), px(100), 0.9);
    }
    :nth-child(2) {
        @include boxes(px(150), px(50), 0.8);
    }
    :nth-child(3) {
        @include boxes(px(50), px(300), 0.7);
    }
    :nth-child(4) {
        @include boxes(px(80), px(410), 0.4);
    }
    :nth-child(5) {
        @include boxes(px(180), px(510), 1);
    }
    :nth-child(6) {
        @include boxes(px(400), px(230), 0.9);
    }
}

.about {
    // background-color: aqua;\
    margin-bottom: px(50);
    @include grid(normal, start);
    gap: px(20);
    @include breakpoint(tablet) {
        margin-bottom: px(0);
        grid-template-columns: repeat(2, 1fr);
    }
    &__button {
        position: relative;

        img {
            box-shadow: px(-10) px(-10) $colour1;

            margin: px(40) 0;
            width: 100%;
            height: px(378);
            object-fit: cover;
            @include breakpoint(tablet) {
                margin: px(60) 0;
            }
        }
    }

    &__copy {
        h2 {
            margin-left: px(25);
            font-size: px(16);
            position: relative;
            margin-top: 0;
            @include breakpoint(tablet) {
                margin-top: px(100);
            }
        }
        h2::before {
            @include sudo-dash();
        }
        h3 {
            font-size: px(35);
        }
        p {
            margin-bottom: px(20);
        }
    }
}

.playVid {
    position: relative;

    img {
        cursor: pointer;
        height: px(21);
        margin-right: px(12);
    }
    @include grid(normal, start);
    video {
        @include imagefit(px(320));
        @include breakpoint(tablet) {
            @include imagefit(px(400));
        }
        @include breakpoint(desktop) {
            @include imagefit(px(563));
        }
        // width: 100%;
        // height: 100%;
    }
    #controls {
        display: flex;
        position: absolute;
        left: px(20);
        bottom: px(10);
    }
}

.features {
    img {
        width: 140px;
    }

    @include grid(normal, start);
    grid-template-columns: repeat(2, 1fr);
    gap: px(20);
    @include breakpoint(tablet) {
        grid-template-columns: repeat(4, 1fr);
    }
    &__cards {
        color: white;
        text-align: center;
        padding: px(35) px(20);
        border-radius: 15px;
        cursor: pointer;
    }
    &__cards:hover {
        box-shadow: 0 8px 15px 0 rgba(#000000, 0.2);

        color: $colour-darkest;
        @include transitionEase;
        background-color: $colour-whitegray;
    }
}

.thermo-bg {
    background-color: $colour3;
}
.thermo {
    padding: px(40);
    color: white;
    @include grid(normal, start);
    img {
        width: px(335);
        @include breakpoint(tablet) {
            width: px(420);
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
}

.form-bg {
    padding-top: px(30);
    background-color: $colour-whitegray;
}
.form {
    padding: px(30);
    &__img {
        margin: 0 0 0 px(10);
    }
    img {
        box-shadow: px(-10) px(-10) $colour1;
        height: 460px;
        width: 100%;
        object-fit: cover;
        @include breakpoint(tablet) {
            width: 85%;
        }
    }
    @include grid(normal, start);
    gap: px(20);
    @include breakpoint(tablet) {
        margin-bottom: px(0);
        grid-template-columns: repeat(2, 1fr);
    }
    &__input {
        h2 {
            font-size: px(25);
            font-weight: weight(medium);
            margin-bottom: px(10);
        }
        padding: px(30);
        border-radius: px(12);
        background-color: white;
        display: flex;
    }
    input[type="text"] {
        display: inline;
        border: 0;
        width: 100%;
        font-size: 14px;
        background-color: #eff3ff;
        font-family: "Lato";
        color: white;
        padding: 15px 0px 15px 10px;
        margin: 5px 0px 5px 0px;
        border-radius: 10px;
        -moz-border-radius: 5px;
    }

    textarea {
        display: inline;
        width: 100%;
        height: 100px;
        max-height: 300px;
        font-size: 14px;
        background-color: #eff3ff;
        padding: 5px 0px 5px 10px;
        margin: 5px 0px 0px 0px;
        border-radius: 3px;
    }

    #submit {
        margin-top: 2rem;
        padding: px(10) px(60);
    }
}
