@use "../modules" as *;
// "regular": 400,
// "medium": 600,
// "bold": 700,
// "black": 900,

// header
.header {
    color: $colour-darkest;
    font-weight: weight(medium);
    text-transform: uppercase;
    font-size: px(15);
}
#sidenav {
    a {
        font-size: px(16);
    }
}

//body
main {
    color: $colour-darkest;
    h1 {
        font-size: px(50);
        line-height: px(55);
        @include breakpoint(desktop) {
            font-size: px(60);
            line-height: px(55);
        }
    }
}

body {
    h2 {
        font-size: px(30);
        @include breakpoint(tablet) {
            font-size: px(35);
        }
    }
}

//footer
footer {
    font-size: px(15);
    text-transform: uppercase;
    font-weight: weight(medium);
}
