<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>.:Using vue:.</title>
    </head>
    <body>
        <main id="app">
            <button>aaa</button>

            <!--This is a hook that tells -->
            <!-- <h1>{{ message }}</h1> -->
            <!-- <profpanel v-for="item in dynamicData"> </profpanel> -->

            <div v-for="item in dynamicData">
                <button class="text-green" @click="showData(item)">
                    Show My data!
                </button>
            </div>

            <pre>
                <h3>{{ currentProf }}</h3>
                <p>{{ role }}</p>
            </pre>
        </main>

        <!-- load the third party library first -->
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <!-- and then your own -->
        <script src="js/main.js" type="module" defer></script>
    </body>
</html>
