<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Marvel Characters Team Page</title>

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap"
            rel="stylesheet"
        />

        <link rel="stylesheet" href="css/main.css" />
    </head>

    <body>
        <header class="header head-colour">
            <nav id="sidenav">
                <a href="#">electric</a>
                <a href="#">3 doors</a>
                <a href="#">5 doors</a>
                <a href="#">countryman</a>
                <a href="#">convertible</a>
            </nav>

            <nav class="header__nav">
                <!-- grid 1 logo icon-->
                <div class="header__logo">
                    <img src="images/mini-logo.svg" alt="mini cooper logo" />
                </div>
                <!-- grid 2 -->
                <a id="btnHamburger" href="#" class="header__burger">
                    <span></span>
                    <!-- for easier to click on menu -->
                    <div></div>
                </a>
                <!-- grid 3 -->
                <li class="header__links">
                    <a href="#">electric</a>
                    <a href="#">3 doors</a>
                    <a href="#">5 doors</a>
                    <a href="#">countryman</a>
                    <a href="#">convertible</a>
                </li>
                <!-- grid 4 -->
                <a href="#" class="header__btn btn">Get a Qoute</a>
                <i class="fa-solid fa-paper-plane header__qoute"></i>
            </nav>

            <nav class="header__sub">
                <ul>
                    <li>
                        <a href="#">mini 3 door</a>
                        <a href="#">line up</a>
                        <a href="#">highligh & features</a>
                        <a href="#">stay in the know</a>
                        <a href="#">gallery</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            <h1 class="hidden">mini cooper app</h1>
            <section class="hero-page">
                <h2>OPEN UP.</h2>
                <p>THE MINI CONVERTIBLE. STARTING FROM $43,390.</p>
            </section>
            <section id="app">
                <nav id="character-nav">
                    <ul class="characters">
                        <!-- hero thumb component goes here -->
                        <thecarsthumb
                            @loadlbdata="loadLightbox"
                            v-for="hero in carData"
                            :hero="hero"
                        ></thecarsthumb>
                    </ul>
                </nav>

                <!-- custom lightbox component goes here -->
                <thelightbox
                    @closelightbox="this.showLB=false"
                    v-if="showLB"
                    :item="lbData"
                ></thelightbox>
                <!-- end lightbox -->
            </section>
        </main>
        <!-- make this a sticky footer so it's always at the bottom-->
        <footer class="footer">
            <nav class="footer__nav">
                <ul>
                    <li>
                        <a href="#">Contact Us</a>
                        <a href="#">Cookies & Ads</a>
                        <a href="#">Privacy Policy</a>
                        <a href="#">Accessibility</a>
                        <a href="#">Term Use</a>
                        <a href="#">Unsubscribe</a>
                        <a href="#">BMW Group</a>
                        <a href="#">Change province (AB) </a>
                        <a href="#">Francais</a>
                    </li>
                </ul>
                <div class="footer__logo">
                    <p>© 2022 MINI Canada.</p>
                    <img src="images/mini-logo.svg" alt="" />
                </div>
            </nav>
        </footer>

        <!-- load script tags at the bottom -->
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="js/main.js" type="module" defer></script>
    </body>
</html>
